canvas {
	width: 100%;
	height: 100%;
	background: #23074d;  
background: -webkit-linear-gradient(to right, #cc5333, #23074d); 
background: linear-gradient(to right, #cc5333, #23074d);


}

body, html {
 height: 100%;
 margin: 0;

}
